
@{
    ViewBag.Title = "Xoa";
}

<h2>XÓA NHÂN VIÊN</h2>
<fieldset>
    <div>Mã nhân viên @Model.Manv</div>
    <div>Tên nhân viên @Model.Hoten</div>
    <div>Tên phòng @Model.Phong</div>
    <div>Lương @Model.Luong</div>
</fieldset>
<br />
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Xóa" /> |
        @Html.ActionLink("Về danh sách", "Index")
    </p>
}