
@{
    ViewBag.Title = "Sua";
}

<h2>SỬA NHÂN VIÊN</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true) // bat loi
    <table>
        <tr>
            <td>Họ tên: </td>
            <td>@Html.TextBox("Hoten") <font style="color: red">@ViewData["Loi2"]</font></td>
        </tr>
        <tr>
            <td>Phòng: </td>
            <td>@Html.TextBox("Phong") <font style="color: red">@ViewData["Loi3"]</font></td>
        </tr>
        <tr>
            <td>Lương: </td>
            <td>@Html.TextBox("Luong") <font style="color: red">@ViewData["Loi4"]</font></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Sửa" />
                @Html.ActionLink("Về danh sách", "Index")
            </td>
        </tr>
    </table>
}

